
@{
    ViewBag.Title = "GitHub Repository Search";
}

<div>
    <div>
        <input type="text" id="keywordTxt" placeholder="Search" />
        <input type="button" id="searchBtn" value="Go" />
    </div>
    <div id="resultsSection">
        @*search results section*@
    </div>
</div>



